 
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8%;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a0a1a, #140024, #1a0033);
  color: white;
  overflow: hidden;
}

/* LEFT SIDE */
.home-left {
  max-width: 600px;
}

.badge {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 80px;

  font-size: 14px;
  color: #00ff88;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 15px;

}

.highlight {
  background: linear-gradient(45deg, #ff00aa, #8a2be2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.typing {
  color: #ff00aa;
  border-right: 2px solid #ff00aa;
  padding-right: 5px;
}

p {
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 30px;
} 


.buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, #ff00aa, #8a2be2);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  transform: scale(1.05);
}

.secondary-btn {
  padding: 14px 28px;
  border-radius: 30px;
  border: 1px solid #8a2be2;
  background: transparent;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.secondary-btn:hover {
  background: #8a2be2;
}

/* RIGHT SIDE IMAGE */
 .home-right {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-wrapper {
  padding: 8px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00aa, #8a2be2);
  animation: glow 3s infinite alternate;
}

.profile-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-container img {
  width: 98%;
  height: 120%;
  object-fit: cover;
} 


@keyframes glow {
  0% {
    box-shadow: 0 0 20px #ff00aa;
  }
  100% {
    box-shadow: 0 0 40px #8a2be2;
  }
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-right {
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
  }
} 

